{
    "domain": "{{ domain }}",
    "name": "{{ name }}",
    "codeowners": ["{{ codeowners }}"],
    "config_flow": {{ config_flow }},
    "documentation": "{{ documentation }}",
    "iot_class": "cloud_polling",
    "issue_tracker": "{{ issue_tracker }}",
    "requirements": {{ requirements }},
    "version": "{{ version }}"
}